---
layout: pages
---

<section class="post-list">
  <article class="post">
    <figure class=" post-thumbnail ">
      <a href="https://aashutoshtrivedi.github.io/Data-Structures-and-Algorithms/">
          <img src="{{site.baseurl }}/project_images/ds.jpg" alt="Data Structures and Algorithms">
      </a>
    </figure>
    <div class="post-content">
      <header class="post-header">
        <h1 class="post-title">
          <a class="post-link" href="https://aashutoshtrivedi.github.io/Data-Structures-and-Algorithms/">Data Structures and Algorithms Blog</a>
        </h1>
      </header>
      <p><a href="https://aashutoshtrivedi.github.io/Data-Structures-and-Algorithms/"
        title="Data Structures and Algorithms">Data structures and algorithms are the most fundamental blocks of computer science.
        It is the pillar of computer science that enables us to write efficient and optimal computer programs...
        <span class="read-more">[Go to Project Blog]</span></a></p>
    </div>
  </article>
</section>
<br>
<!-- till above line it contains dsa link -->

<section class="post-list">
  {% for post in site.posts %}
    {% include article.html %}
  {% endfor %}
</section>
